
#d1{
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(242, 244, 95);
    text-align: center;
    box-shadow: 5px 5px 10px black;
    width: 300px;
    
}

#t1{
    border-radius: 3px;
    
}